  <ul class="<%= @plural_css_class %>-list">
    [iterate(self-><%= @plural_name %>, local('<%= @singular_name %>'))]

      <li class="<%= @plural_css_class %>-item">
        [#<%= @singular_name %>->render]
      </li>

    [/iterate]
  </ul>
