<div class="<%= @plural_css_class %>">
  <h1 class="<%= @plural_css_class %>-title"><%= @plural_name.titleize %></h1>

  <ul class="<%= @plural_css_class %>-list">
    [iterate(self-><%= @plural_name %>, local('<%= @singular_name %>'))]

      <li class="<%= @plural_css_class %>-item">
        [#<%= @singular_name %>->render]
      </li>

    [/iterate]
  </ul>
</div>
