<div class="<%= @plural_css_class %> card card-block card-centered card-readable card-shadowed">
  <h1 class="<%= @plural_css_class %>-title"><%= @plural_name.titleize %></h1>

  [$<%= @plural_name %>->render]

</div>

[$vDebug ? include('/<%= @plural_name %>/debug/<%= @plural_name %>_debug.inc')]
