<div class="<%= @singular_css_class %>">
  <h4 class="<%= @singular_css_class %>-title"><%= @singular_name.titleize %></h4>

  [$<%= @singular_name %>->render]

</div>

[$vDebug ? include('/<%= @plural_name %>/debug/<%= @singular_name %>_debug.inc')]
