<div class="<%= @plural_name %>-debug card card-block card-centered card-readable card-shadowed">
  <h2><%= @plural_name %> Debug</h2>

  [iterate($<%= @plural_name %>.<%= @plural_name %>, local('<%= @singular_name %>')]

    [include('/<%= @plural_name %>/debug/<%= @singular_name %>_debug.inc')]

  [/iterate]
</div>
